<ion-content [fullscreen]="true">
  <header class="header">
    <figure>
      <img src="../../assets/planetas/sol.png " alt="">
    </figure>
  </header>  

  <main class="body">
    <div class="body__titulo">
      <img class="body__titulo__voltar" src="../../assets/setaVolta.png" alt="">
      <h2 class="body__titulo__nome">Sol</h2>
      <img class="body__titulo__proxima" src="../../assets/setaProxima.png" alt="">
    </div>

    <section class="body__descricao">
      <p>Oi, eu sou o Sol! Eu não sou um planeta, sou uma estrela gigante e superbrilhante. Todos os planetas, incluindo a sua casa, a Terra, giram ao meu redor. Sou como o grande chefe do bairro!</p>
    </section>

    <hr>

    <section class="body__estrutura">
      <h2>Como eu sou?</h2>
      <p>Sou uma bola gigante de gás muito, mas muito quente! Eu ilumino e esquento todos os planetas para que não fiquem no escuro e no frio. Sou tão grande que dentro de mim caberia mais de 1 milhão de planetas Terra! Mas ó, não olhe diretamente para mim, meu brilho é forte demais para os seus olhos.</p>
    </section>

    <hr>

    <section class="body__curiosidade">
      <h2>Curiosidade Divertida</h2>
      <p>A luz que sai de mim viaja super rápido, mas o espaço é tão grande que ela demora 8 minutos para chegar até a Terra. Então, a luz do Sol que você vê agora, na verdade, saiu de mim um pouquinho no passado!</p>
    </section>
  </main>
</ion-content>
