<ion-content [fullscreen]="true">
  <header class="header">
    <figure>
      <img [src]="planetSelected?.image" alt="">
    </figure>
  </header>  

  <main class="body">
    <div class="body__titulo">
      <img (click)="planetaSucessor()" class="body__titulo__voltar" src="../../assets/setaVolta.png" alt="">
      <h2 class="body__titulo__nome">{{ planetSelected?.name }}</h2>
      <img (click)="planetaAnterior()" class="body__titulo__proxima" src="../../assets/setaProxima.png" alt="">
    </div>

    <section class="body__descricao">
      <p>{{ planetSelected?.description }}</p>
    </section>

    <hr>

    <section class="body__estrutura">
      <h2>Como eu sou?</h2>
      <p>{{ planetSelected?.estrutura }}</p>
    </section>

    <hr>

    <section class="body__curiosidade">
      <h2>Curiosidade Divertida</h2>
      <p>{{ planetSelected?.curiosidade }}</p>
    </section>
  </main>
</ion-content>
