<ion-content [fullscreen]="true">
  <div id="body">
    <div id="body__title">
      <h2>Solar</h2>
      <h2>Quiz</h2>
    </div>

    <div id="body__content">
      <p>Qual planeta do sistema solar é tão pouco denso (tão leve) que, se existisse um oceano grande o suficiente para o colocar, ele flutuaria?</p>
      <div class="body__content__buttons">
          <button>A - Terra</button>
          <button>B - Vênus</button>
          <button>C - Saturno</button>
          <button>D - Sol</button>
      </div>
    </div>

    <button class="body__btnSkip">Pular pergunta</button>
  </div>
</ion-content>
