<ion-content [fullscreen]="true">
  <div class="body">
    <div class="body__title">
      <h2>Solar</h2>
      <h2>Quiz</h2>
    </div>

    <div class="body__content">
      <p>{{ perguntaAtual.question }}</p>
      <div class="body__content__buttons">
        @for (alt of perguntaAtual.alternatives; track alt.option; let i = $index) {
          <button #btnAlternativa (click)="selecionarAlternativa(alt.option)"
          [disabled]="respondido">
            {{ letras[i] }} - {{ alt.option }}
          </button>
        }
      
      </div>
    </div>

    <button class="body__btnSkip" (click)="proximaPergunta()">Pular pergunta</button>
  </div>
</ion-content>
