<ion-content [fullscreen]="true">
  <div class="planets">
    <div (click)="redirecionar('1')" class="planets__sol">
       <img src="../../assets/planetas/sol.png" alt="">
    </div>

    <div class="planets__mercurio">
      <img src="../../assets/planetas/mercurio.png" alt="">
    </div>

    <div class="planets__venus">
      <img src="../../assets/planetas/venus.png" alt="">
    </div>

    <div class="planets__terra">
      <img src="../../assets/planetas/terra.png" alt="">
    </div>

    <div class="planets__marte">
      <img src="../../assets/planetas/marte.png" alt="">
    </div>

    <div class="planets__jupiter">
      <img src="../../assets/planetas/jupiter.png" alt="">
    </div>

    <div class="planets__saturno">
      <img src="../../assets/planetas/saturno.png" alt="">
    </div>

    <div class="planets__urano">
      <img src="../../assets/planetas/urano.png" alt="">
    </div>

    <div class="planets__netuno">
      <img src="../../assets/planetas/netuno.png" alt="">
    </div>
  </div>
</ion-content>
