<ion-content [fullscreen]="true">
  <div id="body">
    
    <div id="div__sol">
       <img src="../../assets/planetas/sol.png" alt="">
    </div>

    <div id="div__mercurio">
      <img src="../../assets/planetas/mercurio.png" alt="">
    </div>

    <div id="div__venus">
      <img src="../../assets/planetas/venus.png" alt="">
    </div>

    <div id="div__terra">
      <img src="../../assets/planetas/terra.png" alt="">
    </div>

    <div id="div__marte">
      <img src="../../assets/planetas/marte.png" alt="">
    </div>

    <div id="div__jupiter">
      <img src="../../assets/planetas/jupiter.png" alt="">
    </div>

    <div id="div__saturno">
      <img src="../../assets/planetas/saturno.png" alt="">
    </div>

    <div id="div__urano">
      <img src="../../assets/planetas/urano.png" alt="">
    </div>

    <div id="div__netuno">
      <img src="../../assets/planetas/netuno.png" alt="">
    </div>
  </div>
</ion-content>
