ion-content {
  --background: url('../../assets/bk_espaco.png') no-repeat center center / cover;

  .planets{
    padding: 0 10px;
  }

  .planets div{
    width: 100%;
    display: flex;
    margin-bottom: 40px;
  }

  .planets__sol{
    justify-content: center;
  }

  .planets__mercurio{
    justify-content: flex-start;
    width: 134px; 
    height: 134px;
  }

  .planets__venus{
    justify-content: flex-end;
    width: 185px; 
    height: 185px; 
  }

  .planets__terra{
    justify-content: flex-start;
    width: 187px; 
    height: 187px;
  }

  .planets__marte{
    justify-content: flex-end;
    width: 146px; 
    height: 146px;
  }

  .planets__jupiter{
    justify-content: flex-start;
    width: 320px; 
    height: 320px;
    margin-left: -10%;
  }

  .planets__saturno{
    justify-content: flex-end;
    width: 285px; 
    height: 285px;
  }

  .planets__urano{
    justify-content: flex-start;
    width: 175px; 
    height: 175px; 
  }

  .planets__netuno{
    justify-content: flex-end;
    width: 173px; 
    height: 173px;
  }
} 